<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Коты</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/nm/">Азамат Шакуров</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://multiurok.ru/uploads/b/7/9/b79a396e33d416612e29c11d852c52fcea88df65/phpxgVkKt_1---kopiya.JPG">Обезьяны</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <div class="card" style="width: 18rem;">
  <img src="https://w.forfun.com/fetch/5f/5fae8b9ce29a10950b001db52779ca78.jpeg" class="https://w.forfun.com/fetch/5f/5fae8b9ce29a10950b001db52779ca78.jpeg" alt="...">
  <div class="card-body">
    <h5 class="card-title">Котик Барсик</h5>
    <p class="card-text">Мягкий, нежный котик Барс.</p>
    <a href="/time" class="btn btn-primary">Погладить</a>
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>