<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css' )}}" >
	<title>Аренда квартир</title>
</head>
<body>
	<thead>
		<table align="center">
			<tr>
				<td class="t1"><a class="t1" href="">Мой дом </a></td>
				<td class="t1"><a class="t1" href="">О нас </a></td>
				<td class="t1"><a class="t1" href="">Каталог</a></td>
				<td class="t1"><a class="t1" href="">Отзывы</a></td>
				<td class="t1"><a class="t1" href="">Карта</a></td>
				<td class="t1"><a class="t1" href="">Подать объявление</a></td>
				<td class="t1"><a class="t1" href="">Новинки</a></td>
				<td class="t1"><a class="t1" href="">Закладки</a></td>
			</tr>
		</table>

		<table align="center">
			<tr>
				<td class="t2">
					<h1 class="t2">Арендуй квартиры <br>по всей России</br></h1>
					<p class="whiter">Наши квартиры можно арендовать</p>
					<p class="yellowp">по предоплате 20%</p>
				</td>
				<td class="t3">
					<img src="C:\Users\Марат\Desktop\новый сайт\2ef695e3_z.webp" height="250">
			</tr>
			<tr>

        	<tr>
        		<td>
        			<h1 class="t2">Узнай, почему мы лучшая <br> компания в России</br></h1>
        		</td>
        	</tr>
        </table>

        <table>
        	<tr>
        		<td>
        			<>
        		</td>
        	</tr>

        </table>

        <table align="center">
			<tr>

				<td class="t4">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/5QZcOugHQ6s?si=mkeVyOxBQrH-_kq1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</td>
			</tr>
		</table>



		<table>
			<tr>
				<td class="t5"> <p class="yellowp1">Цена</p>
				<td class="t5"> <p class="yellowp1">Санузел</p>
				<td class="t5"> <p class="yellowp1">Город</p>
				<td class="t5"> <p class="yellowp1">Район</p>
				<td class="t5"> <p class="yellowp1">Тип проживания</p>

			</tr>
			<tr>
				<td>

					<form>
						<label>
							<p class="whiter">От</p><input type="text" name="От"></label>



						<label>
							<p class="whiter">До</p><input type="text" name="От"></label>
					</form>



				</td>
				<td class="t5">

					<select>
						<option>Вариант 1</option>
						<option>Вариант 2</option>
						<option>Вариант 3</option>
						<option>Вариант 4</option>
						<option>Вариант 5</option>

					</select>


				</td>
				<td class="t5">

					<select>
						<option>Вариант 1</option>
						<option>Вариант 2</option>
						<option>Вариант 3</option>
						<option>Вариант 4</option>
						<option>Вариант 5</option>

					</select>


				</td>
				<td class="t5">

					<select>
						<option>Вариант 1</option>
						<option>Вариант 2</option>
						<option>Вариант 3</option>
						<option>Вариант 4</option>
						<option>Вариант 5</option>

					</select>


				</td>
				<td class="t5">

					<select><p class="yellowp1">Вариант</p>
						<option>Вариант 1</option>
						<option>Вариант 2</option>
						<option>Вариант 3</option>
						<option>Вариант 4</option>
						<option>Вариант 5</option>

					</select>


				</td>
				<tr>
				<td class="t5"> <p class="yellowp1">Состояние</p>
				<td class="t5"> <p class="yellowp1">Мебедь</p>
				<td class="t5"> <p class="yellowp1">Количество комнат</p>
				<td class="t5"> <p class="yellowp1">Этаж</p>
				<td class="t5"> <p class="yellowp1">Период Аренды</p>

			</tr>
			<tr>
				<td class="t5">

					<select>
						<option>Вариант 1</option>
						<option>Вариант 2</option>
						<option>Вариант 3</option>
						<option>Вариант 4</option>
						<option>Вариант 5</option>

					</select>


				</td>
				<td class="t5">

					<select>
						<option>Вариант 1</option>
						<option>Вариант 2</option>
						<option>Вариант 3</option>
						<option>Вариант 4</option>
						<option>Вариант 5</option>

					</select>


				</td>
				<td class="t5">

					<form>
						<label>
							<p class="whiter">От</p><input type="text" name="От"></label>


						<label>
							<p class="whiter">До</p><input type="text" name="До"></label>
					</form>


				</td>
				<td class="t5">

					<select>
						<option>Вариант 1</option>
						<option>Вариант 2</option>
						<option>Вариант 3</option>
						<option>Вариант 4</option>
						<option>Вариант 5</option>

					</select>


				</td>
				<td class="t5">

					<select>
						<option>Вариант 1</option>
						<option>Вариант 2</option>
						<option>Вариант 3</option>
						<option>Вариант 4</option>
						<option>Вариант 5</option>

					</select>


				</td>




			</tr>













			</tr>

		</table>

{% for i in flats %}
		<table align="center">
			<tr>

				<td class="t5" ><p>цена</p>
					<h1>{{ i.price }}</h1>
					<img src="{{i.rayon}}" height="150">


			</tr>
		</table>

{% endfor %}




	</thead>


</body>
</html>